<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        {{#link-to "index" class="navbar-brand"}}AFL Tweets{{/link-to}}
    </div> <!-- /container -->
</div> <!-- /navbar -->
<div class="container">
    {{outlet}} 
</div> <!-- /container -->
